body {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  display: flex;
  justify-content: center;
}

.daily_summary_container {
  background: white;
  border-radius: 8px;
  margin: 50px;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}
.client-group {
  padding: 15px;
  background: #f1f1f1;
  margin-bottom: 15px;
  border-radius: 6px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 96%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#addSummary:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.output {
  margin-top: 30px;
  background: #f1f1f1;
  padding: 30px 20px;
  border-radius: 6px;
}
.output h2 {
  margin-top: 0;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Button Group */

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

/* Tooltip */

.btn-with-tooltip {
  position: relative;
  display: inline-block;
}

.action-btn {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  min-width: 120px;
}

.action-btn.green {
  background-color: #28a745;
}

.action-btn.green:hover {
  background-color: #218838;
}

.action-btn.red {
  background-color: #dc3545;
}

.action-btn.red:hover {
  background-color: #c82333;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.btn-with-tooltip.show-tooltip .tooltip {
  visibility: visible;
  opacity: 1;
}

/* add or remove  */

button#addClientBtn,
button.removeBtn {
  font-size: 14px;
  padding: 5px;
  width: 90px;
  margin-bottom: 15px;
  margin-top: -15px;
}

button.removeBtn {
  background-color: #dc3545;
  margin-top: -5px;
}
button.removeBtn:hover {
  background-color: #c82333;
}

.summary-header {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-bottom: -20px;
}
